{% load static %}
<!DOCTYPE html> 
<html lang="en">
 <head>
   <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
   <meta charset="UTF-8">
   <title>MyBlog</title> 
</head> 
<body>
     <header>
       <h1> <a href="">Blog</a> </h1>
     </header>
     <p><a href="{% url 'search' %}">Search Page</a></p>
     <div class="container">
       {% block content %}
         {% for i in object_list %}
             <div class="article">
              <h3><a href="{% url 'detail' i.slug %}">{{ i.title }}</a></h3>
               <p>{{ i.body }}</p>
            </div>
         {% endfor %}
        {% endblock content %}
     </div>
     <p><a href="{% url 'create' %}">Create New Article</a></p>
     {% if user.is_authenticated %}
      <h2>You entered as: {{ user.username }}</h2>
      <p><a href="accounts/logout">Logout</a></p>
     {% else %}
     <h2>You are not logged in.</h2>
     <p><a href="accounts/login">Login</a></p>
     <p><a href="{% url 'register' %}">Registration</a></p>
     {% endif %}
 </body> 
</html>