{% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <title>My Blog</title>
 </head>
 <body>
     <header>
       <h1> <a href="{% url 'articles' %}">Homepage</a> </h1>
     </header>
     <div class="container">
     {% block content %}
         <div class="details">
         <h2>{{ article.title }}</h2>
         <p>{{ article.body }}</p>
         </div>
     {% endblock content %}
     </div>
     <h5>Likes : {{ article.like_count }}</h5>
     <p><a href="{% url 'like' article.slug %}">Like </a></p> 

     
     <p><a href="{% url 'delete' article.slug %}">Delete this article</a></p>
     <p><a href="{% url 'update' article.slug %}">Update this article</a></p>
     {% for comment in comments %}
     <h5>{{ comment.author }}'s comment ({{ comment.date_posted  }}):</h5>
     <p>{{ comment.body }}</p>
     {% endfor %}
     <h3>Leave a comment</h3>
     <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Comment">
    </form>
 </body>
 </html>